<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="wordpressEntities" connectionString="metadata=res://*/SampleModel1.csdl|res://*/SampleModel1.ssdl|res://*/SampleModel1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=wordpress;password=wordpress;Persist Security Info=True;database=wordpress;Allow Zero Datetime=True;Convert Zero Datetime=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>